<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="layout :: htmlhead"></head>
	<body>
		<div class="container">
			<nav th:replace="layout :: menu">(menu)</nav>
 			<div class="border border-dark">
				<form th:action="@{/tipoPagamento/form}" th:object="${tipoPagamento}" action="#" method="post">
					<input type="hidden" id="txtid" th:field="*{id}" />
					
				    <div class="form-group">
				        <label for="txtnome">NomeTipoPagamento</label>
				        <input type="text" th:field="*{tipoPagamento}" class="form-control" 
				        id="txtnome" placeholder="tipoPagamento">
				    </div>
				    
				    <button type="submit" class="btn btn-primary">Enviar</button>
				</form>
			</div>
		</div>
		<div th:include="layout :: footer" id="footer">(footer)</div>
	</body>
</html>